* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.weather-container {
  background: #e0e0e0;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  height: 50vh;
  width: 50vh;
}

.weather-icon {
  width: 12vh;
  height: 12vh;
  margin-bottom: 1vw;
}

.temperature {
  font-size: 5vh;
  font-weight: bold;
}

#NameOfCity {
  font-size: 3vh;
  color: #000000;
  margin: 2vh;
}

.description {
  font-size: 2vh;
  color: #000000;
  text-transform: uppercase;
  margin: 2vh;
  color: green;
}



.input-container input {
  padding: 8px;
  font-size: 16px;
  width: 27vh;
  border: 1px solid #ccc;
  background: none;
  border-radius: 5px;
  margin: 1vw;
}

.input-container button {
  padding: 8px 16px;
  font-size: 16px;
  margin-left: 1px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
  .weather-container {
    border-radius: 10px;
    padding: 20px;
    height: 40vh;
    width: 35vh;
  }
  .weather-icon {
    width: 9vh;
    height: 9vh;
    margin-bottom: 1vw;
  }
  .input-container button {
    margin-top: 2vh;
  }
  .temperature {
    font-size: 4vh;
  }
  #NameOfCity {
    font-size: 2vh;
  }
  .description {
    font-size: 1.5vh;
    color: green;
  }
  .input-container input {
    width: 27vh;
  }
  .input-container input {
    
    margin: 1vw;
  }
}
